@import url(http://fonts.googleapis.com/css?family=Open+Sans);
input:-webkit-autofill {
  background-color: none; }

body {
  margin: auto 0;
  padding: 0; }
  body article {
    width: 275px;
    margin: 100px auto;
    text-align: center; }
  body .cancel-message {
    display: none;
    font-family: "Open Sans", sans-serif; }
  body .submit-message {
    display: none;
    font-family: "Open Sans", sans-serif; }
  body .message-show {
    display: block;
    font-family: "Open Sans", sans-serif; }
  body .wrapper {
    width: 275px;
    margin: 100px auto;
    text-align: center; }
    body .wrapper .border-piece {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important; }
    body .wrapper .form-wrap {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #9d9d9d;
      top: 50px;
      padding: 10px; }
      body .wrapper .form-wrap h4 {
        text-transform: uppercase;
        color: #699fdf; }
      body .wrapper .form-wrap form {
        .icon-valid-color: #6d6e76; }
        body .wrapper .form-wrap form .icon-error {
          color: #ce6c6c; }
        body .wrapper .form-wrap form input {
          margin: 10px 0;
          border-radius: 5px;
          border: 1px solid #9d9d9d;
          background-color: #f6f3f6; }
        body .wrapper .form-wrap form .not-valid {
          background-color: #fceded;
          border-color: #ce6c6c; }
        body .wrapper .form-wrap form .valid {
          background-color: #edfcf0 !important;
          border-color: #aff1c6; }
        body .wrapper .form-wrap form .form-group {
          margin: 0; }
    body .wrapper .buttons-footer {
      border-top: 0px solid #9d9d9d;
      background-color: #f6f3f6;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px; }
      body .wrapper .buttons-footer input {
        border-radius: 5px;
        border: 1px solid #9d9d9d;
        background-color: #f6f3f6;
        width: 75px; }
      body .wrapper .buttons-footer #submitButton {
        background: -webkit-linear-gradient(#43a7e7, #0a4691);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#43a7e7, #0a4691);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#43a7e7, #0a4691);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#43a7e7, #0a4691);
        /* Standard syntax */
        color: #fff;
        font-family: "Open Sans", sans-serif;
        margin-left: 10px; }
        body .wrapper .buttons-footer #submitButton:hover {
          background: -webkit-linear-gradient(#0a4691, #43a7e7);
          /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(#0a4691, #43a7e7);
          /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(#0a4691, #43a7e7);
          /* For Firefox 3.6 to 15 */
          background: linear-gradient(#0a4691, #43a7e7);
          /* Standard syntax */ }
      body .wrapper .buttons-footer #cancelButton {
        color: #000;
        font-family: "Open Sans", sans-serif;
        border: none !important;
        margin-left: 0;
        padding-left: 0;
        background-color: #f6f3f6; }

.hide-form {
  display: none; }
